body {
    background: #fff url(Images/background-pattern.png) center center/cover no-repeat fixed;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #fff url(Images/background-colors-texture-detail.jpg) center center/cover no-repeat;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 + p {
    font-size:medium;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    header h1 + p {
      font-size:20px; /* Adjust font size for smaller screens */
      font-weight: bold;
    }
  }

main {
    padding: 50px;
}

h2 {
    color: #346ba5;
    font-size:50px;
    text-align: center;
}
h3 {
    color: #000000;
    font-size: xx-large;
}

.image-border {
    border-left: 20px solid rgba(255, 255, 255, 0);
    border-right: 20px solid rgba(255, 255, 255, 0);
    padding: 5px;
}
.image-border1 {
    border-left: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 255, 255, 0);
    border-bottom: 20px solid rgba(255, 255, 255, 0);
    padding: 5px;
}
.project button {
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    outline: none;
    color: #000000;
    background-color: #47b943;
    border: none;
    border-radius: 100px;
    box-shadow: 0 6px #999;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    animation: myAnim1 2s ease 0s infinite normal forwards;
}  
.project button:hover {background-color: #2c9129}


.project {
    background-color: #ffffff57;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 30px 1px #000;
    animation: myAnim 2s ease-out 0s 1 alternate forwards;
}


.project p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    background: #fff url(Images/footer.png) center center/cover no-repeat;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social p {
    font-size:medium;
}
@media screen and (max-width: 767px) {
    .social p {
      font-size:10px; /* Adjust font size for smaller screens */
    }
  }

.social img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes myAnim1 {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
